* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #c1bebe;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 12px;
}

div.top-header {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header div.top-header p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header {
    background-color: #EAC926;
}

header div.logo,
header .form {
    width: 50%;
}

header div.logo {
    padding: 10px;
}

header .form {
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}

header nav {
    font-size: 12px;
    margin-left: 20px;
}

header ul li {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: #000;
}

header ul li a:hover {
    font-weight: 800;
    color: #000;
}

header .form .input {
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit {
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

div.burger-menu {
    text-align: center;
}

div.burger-menu i {
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

div.last-visit,
div.offers {
    display: flex;
    flex-wrap: wrap;
}

.price {
    font-size: 18px;
    width: 30%;
}

.discount {
    width: 70%;
}

.discount,
.description {
    font-size: 16px;
    font-weight: normal;
}

h3,
.description {
    color: #666;
}

.description {
    display: none;
    margin-top: 20px;
}

section.banner img {
    width: 100%;
}

main {
    width: 90%;
    margin: 0 auto;
}

main section article {
    background-color: #fff;
    margin: 10px 0px;
}

main section article img {
    width: 100%;
}

main section article i,
.discount {
    color: #39b54a;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section article:hover {
    cursor: pointer;

}

main section h3 {
    margin: 20px 0px;
}

article div.main-article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

main.register form,
main.login form {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

main.register form,
main.login input {
   padding: 5px;
   margin: 5px 0;
}

main.register form input,
main.register form h4,
main.register form div.profile{
    margin: 7px 0;
}


main.login input,
main.register input,
main.register input{
    padding: 5px;
}

main.login input.submit,
main.register input.submit,
main.register input.reset{
    
    background-color: white;
}

main.login input.submit:hover,
main.register input.submit:hover,
main.register input.reset:hover {
    background-color: #0022AA;
    cursor: pointer;
    color: #fff;
}

/**FOOTER*/
footer section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer section div {
    text-align: center;
    padding: 20px;
    color: #666;
    width: 30%;
}

/* Cuando paso el cursor por el DIV, debo cambiar el color del ICONO */

footer section div h3 {
    margin-bottom: 0px;
}

footer section div p {
    margin-top: 0px;
}

.icono-footer {
    color: #1259c3;
    font-size: 2em;
    padding-bottom: 10px;
}

.Copyright {
    text-align: left;
}

@keyframes fa-user-shield{
    0% { opacity: 0% }
    100% { opacity: 100% } 
}

@keyframes fa-gift{
    0% { opacity: 0% }
    100% { opacity: 100% } 
}
@keyframes fa-credit-card{
    0% { opacity: 0% }
    100% { opacity: 100% } 
}

.fa-user-shield:hover{
    color: #39b54a;
    cursor: pointer;
    animation: fa-user-shield 1s 1;
}

.fa-gift:hover{
    color: #39b54a;
    cursor: pointer;
    animation: fa-gift 1s 1;
}

.fa-credit-card:hover{
    color: #39b54a;
    cursor: pointer;
    animation: fa-credit-card 1s 1;
}



/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*----------------------     361     -----------------------*/
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/


/**FOOTER*/

@media (min-width: 361px) {
    main section article .description {
        display: block;
    }

    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main section div.products article {
        width: 45%;
    }

    .price,
    .discount {
        width: 50%;
    }
}

/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*----------------------     769     -----------------------*/
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/

@media (min-width: 769px) {
 
     header nav{
        display: flex;
        justify-content: space-around;
    }
    
    header nav ul{
        width: 30%;
        display: flex;
        justify-content: space-between;
    } 
 
 
    main section div.products article {
        width: 22%;
        box-shadow: none;
    }

    main section div.products article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);

    }

    main section article .description {
        display: none;
    }

    main section article:hover .description {
        display: block;

    }


}



@media (min-width: 1080px) {
    main {
        width: 80%;
    }
}